body{
 display: flex;
 flex-direction:column;
 align-content: center;
 width: 900px;
 margin: 0 auto;
 min-height: 2000px;
 justify-content: space-between;
}

section{
 display: flex;

}

.borderGreen{
  border: 1px solid green;
}

.borderYellow{
  border: 1px solid yellow;
}

.borderRed{
  border: 1px solid red;
}

.borderBrown{
  border: 1px solid brown;
}

.borderGray{
  border: 1px solid darkgray;
}

#rgArrow{  	
  position: fixed;
  top: 50%;
  right: 10px;
  width:50px;
  height: 50px;
  fill: #585643;
  fill-opacity: 0.8;
  cursor: pointer;
  transition: all 1s ease 0s;  
}
#rgArrow rec{
  fill:#b3b3b3;
}
#rgArrow circle{
  fill:#e6e6e6;
}
#rgArrow {
  fill:#999;
}
#rgArrow[data-mode="start"]{	
  opacity: 0;
}
#rgArrow[data-mode="bottom"]{	
  opacity: 0.8;
}
#rgArrow[data-mode="ret"]{	
  opacity: 0.8;
}

#rgArrow[data-mode="ret"] rect_{
  transform: rotate(180deg);
  transform-origin: 0px;
}

#rgArrow[data-mode="ret"] path{
  transform: rotate(-540deg);
  transform-origin: 0px 0px;
}

#rgArrow rect, #rgArrow path{
  	
  transition: all 1s ease 0s; 
}


#rgArrow:hover path,#rgArrow:hover rect{
  fill-opacity: 1;
}


